.btn
{
    height: 50px;
    border-radius: 30px;
    color: white;
    background: linear-gradient(170deg,$secondary-color,$primary-color);
    font-size: 16px;
    
    padding: 0px 18px;
    border: none;
}