$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color : #99E2D0;
$primary-bg-color: #f6f6f6;
$font-text : "Roboto", sans-serif ;
$font-heading: "Shrikhand", sans-serif ;
$footer-font-color: white;
;