.menu
{
    &_img
    {
        
        height: 220px;
        &--pos
        {
            height: 250px;
            width: 100%;
            object-fit: cover;
        }

    }
    &_restaurant
    {
        border-radius: 20px 20px 0px 0px;
        background-color: $primary-bg-color;
        position: relative;
        
        padding : 30px 20px 58px 20px;
        &_heading
        {
            margin: 0px 40px 20px 0px ;
            position: relative;
            display: flex;
            
            
            h1
            {
                font-size: 28px;
                font-family: $font-heading;
                font-weight: 100;
            }
            i
            {
                position: absolute;
                right: 0px;
                font-size: 21px;
                align-self: center;
            }
            
        }

        &_card
        {
            min-height: 42px;
            padding : 13px 22px 13px 11px;
            background-color: white;
            border-radius: 15px;
            position: relative;
            margin-bottom: 15px;
            &_heading
            {
                text-transform: uppercase;
                padding-bottom: 3px;
                margin-left: 5px;
                margin-top: 35px;
               
                &--border
                {
                width:40px;
                display: block;
                height: 3px;
                background-color: $tertiary-color;
                margin-bottom: 15px;
                margin-left: 5px;
                }

            }
            h3
            {
                margin-bottom: 3px;
                
                text-overflow: ellipsis;
                display: block;
                overflow: hidden;
            }
            p
            {
                font-size: 14px;
                white-space: nowrap;
                text-overflow: ellipsis;
                display: block;
                overflow: hidden;
            }
            &_price
            {
                position: absolute;
                right: 22px;
                bottom: 13px;
            }
            
        }      
    }
    

}

//** ANIMATIONS **//
.menu
{
    &_restaurant
    {
        &_starter
        {
            
            animation: showing-menu 1s linear both;
            
        }
        &_dish
        {
            
            animation: showing-menu 1s 1s linear both;
        }
        &_dessert
        {
            
            animation: showing-menu 1s 2s linear both;
        }
    }
}

@keyframes showing-menu
{
    0%{opacity: 0;
    transform: translate(0,50px)}
    60%{opacity: 0;}
    
}


